.inputField {
  width: 500px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid grey;
  margin: 20px;
  outline: none;
}

.btn {
  background-color: grey;
  width: 100px;
  height: 35px;
  border-radius: 6px;
  border: none;
}
